@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Task Tracker!</h1>
        <p class="lead">Stay organized and manage your tasks with ease.</p>
        <a href="/TasksList" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</section>

<section class="container pt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Track Your Tasks</h5>
                    <p class="card-text">Keep a list of tasks, set due dates, and manage your priorities.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Stay Productive</h5>
                    <p class="card-text">Boost your efficiency and accomplish more with our powerful task management tools.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Stay Organized</h5>
                    <p class="card-text">Never miss a deadline and stay organized with our intuitive task management features.</p>
                </div>
            </div>
        </div>
    </div>
</section>